#root {
  background: #f1f1f1;
  max-width: 660px;
  padding: 40px;
  margin: 40px auto;
  border: 1px solid #bbb;
  box-shadow: 0px 0px 0px 5px #fff inset;
}
#root input {
  height: 40px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px  solid #ccc;
  width: 300px;
}
.App {
  text-align: center;
}
table {
  border: 1px solid #000;
}
th {
  padding: 7px 10px;
  text-align: left;
  background: #f1f1f1;
  color: #000;
  border-bottom: 1px solid;
}
td{
  padding: 10px;
  text-align: left;
}
button {
  margin-right: 5px;
}

#root button {
  height: 37px;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 30px;
  box-sizing: border-box;
  margin: 2px;
  border: none;
}
